.CFUserTextEncoding
.JIRAClient/
.MacOSX/
.Trash/
.bash_history
.bash_sessions/
.bundle/
.cache/
.config/ipython/profile_default/db/
.config/ipython/profile_default/startup/
.config/zsh/.chpwd-recent-dirs
.config/zsh/.zcompdump*
.config/zsh/.zsh_sessions/
.config/zsh/history
.docker/
.local/state/
.local/share/
.nix-defexpr/
.nix-profile
.npm/
.python_history
.rbenv/
.viminfo
.vscode/
.wget-hsts
.yarnrc
.zsh_history
.zsh_sessions/

Application*/
DataGripProjects/
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
data/
micromamba/
nixos-config/
opt/
src/
tmp/

