Application/
Applications/
DataGripProjects/
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
src/

.CFUserTextEncoding
.JIRAClient/
.config/zsh/.chpwd-recent-dirs
.config/zsh/.zcompdump
.config/zsh/.zsh_sessions/
.config/zsh/history
.zsh_history
